.Process {
  animation: fade 0.2s ease-in;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  margin: 10% 5% 10% 5%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .Process {
    margin: 30% 2% 30% 2%;
  }
}
