.dots {
  left: 2%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.dots > div {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 0.2px solid white;
  margin-bottom: 10px;
  transition: 0.5s ease-out;
}
.dot {
  background-color: #ffd57e;
  transform: scale(1.7);
}
@media screen and (max-width: 768px) {
  .dots {
    bottom: 10%;
  }
  .dots > div {
    margin-bottom: 5px;
  }
}
