.Slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  animation: fade 10s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-2%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
}
