.AvailableButtons button:hover {
  cursor: pointer;
}
.AvailableButtons {
  display: flex;
  align-items: center;
  align-content: center;
}
.AvailableButtons button {
  font-size: 1rem;
  margin: 5px 5px 5px 5px;
  outline: none;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.UnavailableButtons {
  display: none;
}
.addToCart {
  width: fit-content;
}

.addToCart button{
  width: 305px;
  height: 25px;
  color: rgb(220,181,72);
  border-color: rgb(36, 40, 41);
  border-width: 5px;
  border-style: double;
  background-color: rgb(36, 40, 41);
  font-weight: bold;
  cursor: pointer; 
}