.Desc {
  font-size: 2.0vw;
  margin-bottom: 1vw;
  text-align: left;
}
.viewMoreButton {
  display: none;
}
@media (max-width: 500px) {
  .Desc {
    text-align: center;
  }
  .viewMoreButton {
    display: block;
    color: rgb(220, 181, 72);
    cursor: pointer;
    border: none;
    width: 100%;
  }
}
