.Desc {
  margin-bottom: 10px;
  text-align: left;
}
.viewMoreButton {
  display: none;
}
@media (max-width: 500px) {
  .Desc {
    font-size: 8px;
    width: 100%;
    text-align: center;
  }
  .viewMoreButton {
    display: block;
    color: rgb(220, 181, 72);
    background-color: rgb(36, 40, 41);
    cursor: pointer;
    border: none;
    width: 120%;
  }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  .Desc {
    font-size: 10px;
    width: 100%;
  }
}
