.perfumes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
}

@media (min-width: 600px) {
  .perfumes {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}

@media(max-width: 500px) {
  .perfumes {
    padding-bottom: 40%;
    padding-top: 20%;
  }
}
@media screen and (max-width: 700px) and (min-width: 500px) {
  .perfumes {
    padding-bottom: 25%;
    padding-top: 20%;
  }
}
