.Information {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.Title {
    color: black;
    font-weight: 800;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-bottom: 1%;
}

.TopText {
    margin: 4%;
    text-align: center;
}

@media screen and (min-width: 601px) {
    div.Title {
        font-size: 30px;
    }
    div.MainInformation {
        font-size: 17px;
    }
    div.TopText {
        font-size: 20px;
    }
}

@media screen and (max-width: 601px) {
    div.Title {
        font-size: 20px;
    }
    div.MainInformation {
        font-size: 15px;
    }
    div.TopText {
        font-size: 15px;
    }
}

.Photo {
    display: flex;
    width: 93%;
    padding: 2%;
    padding-left: 10%;

    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.Photo:hover {
    width: 95%;
    height: 95%;
}

.MainInformation {
    width: 85%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    line-height: 1.5;
}

.Signature {
    align-items: center;
    margin-top: 3%;
    width: 200px;
}