.render {
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.switch {
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
  opacity: 1;
  transform: translateY(0);
}
.switch img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-100%);
}
.render:hover img {
  width: 102%;
  height: 102%;
}
.render img {
  width: 100%;
  height: 100%;
  max-width: 200px;
}
