.Section {
  text-align: center;
  position: relative;
  height: 80vh;
}
.images {
  display: flex;
  width: 100%;
  height: 100%;
}
.image:nth-child(1) img {
  position: absolute;
  left: 15%;
  bottom: -250px;
}
.image:nth-child(2) img {
  position: absolute;
  left: 40%;
  bottom: 0%;
}
.image img {
  width: 30%;
}
.textContent {
  position: relative;
}
.innerTextContent {
  position: absolute;
  width: 40%;
  right: 60px;
  font-size: 2vw;
  font-weight: bolder;
  -webkit-text-fill-color: rgb(220, 181, 72);
  -webkit-text-stroke: 0.001px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
@media (max-width: 500px) {
  .Section {
    height: 50vh;
  }

  .innerShowcaseText {
    right: 20%;
    left: 20%;
    position: absolute;
    color: white;
  }
  .innerTextContent {
    font-size: 10px;
    left: 30%;
    right: 20%;
  }
  .image img {
    width: 50%;
  }
}
@media screen and (max-width: 700px) and (min-width: 500px) {
  .innerTextContent {
    font-size: 90%;
    right: 0%;
  }
  .image img {
    width: 50%;
  }
}
