.CheckoutButton {
  color: rgb(220,181,72);
  border-color: rgb(36, 40, 41);
  border-width: 5px;
  border-style: double;
  background-color: rgb(36, 40, 41);
  font-weight: bold;
  cursor: pointer; 
  margin-top: 4px;
  margin-left: 2px;
  width: 200px;
  height: 40px;
}
