.CheckoutButton {
  color: white;
  border: black;
  background-color: black;
  border-width: 5px;
  border-style: double;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 2px;
  width: 200px;
  height: 40px;
}
.CheckoutButton:hover {
  color: rgb(220, 181, 72);
}
