.ProcessWrapper {
  margin: auto;
  max-width: 1080px;
  padding: 2% 2% 2% 2%;
}
#ProgressBarContainer {
  position: relative;
  width: 90%;
  margin: auto;
  height: 10vw;
}

#ProgressBarContainer ul {
  z-index: 99;
  position: absolute;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
#ProgressBarContainer li:before {
  content: " ";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px white;
  transition: all ease 0.3s;
  background-color: white;
  transition: background border 0.5s;
}
#ProgressBarContainer li:hover::before,
#ProgressBarContainer li:active::before,
#ProgressBarContainer li:focus::before {
  border: #686d76;
  background-color: #686d76;
}

#ProgressBarContainer li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: rgb(14, 11, 11);
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}

#ProgressBarContainer li.StepInner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#ProgressBarContainer li:active,
#ProgressBarContainer li:hover {
  color: #444;
}


#ProgressBarContainer #Line {
  width: 80%;
  background-color: #eee;
  height: 6px;
  position: absolute;
  margin-top: 3vh;
  left: 10%;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#ProgressBarContainer #LineProcess {
  content: " ";
  width: 3%;
  height: 100%;
  background-color: black;
  background: linear-gradient(to right, #777 0%, #777 100%);
  position: absolute;
  border-radius: 50px;
  transition: all ease 0.9s;
}
#ProgressContentSection {
  width: 90%;
  text-align: center;
  margin: auto;
  color: white;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 15px 15px 15px 15px;
}
#ProgressContentSection .SectionContent {
  padding: 30px 40px;
  text-align: center;
}
 

@media (max-width: 700px) {
  #ProgressBarContainer li:before {
    width: 20px;
    height: 20px;
    margin-top: 1vh;
  }
}
