.NavigationItems {
    list-style: none;
    color: rgb(220, 181, 72);
    font-weight: 200;
  }
  @media (min-width: 769px) {
    .NavigationItems {
      display: flex;
      flex-direction: row;
    }
  }