h1{
    color: white;
    font-size: large;
}

.breadText{
    color: white;
}

.pic{
    width:   418px;
    height: 278px;
    margin: 40px;
}

.process{
        display: inline-block;
        background-color: darkslategrey;
        width: 500px;
        text-align: center;
        margin: 40px;
        padding: 10px;}

.textdiv{
    width: 100%;
    text-align: center;
}