.PurchaseConfirmed {
  background-color: white; /* Black w/ opacity */
  color: black;
  z-index: 100;
  border-radius: 10vw;
  margin-bottom: 10vw;
  margin-top: 12vw;
  margin-left: 2vw;
  padding: 2vw 2vw 2vw 2vw;
}
.Message {
  text-align: center;
  margin-top: 10vw;
}

@media(max-width: 500px) {
  .PurchaseConfirmed{
  margin-top: 20vw;
  border-radius: 0vw;
  }
}
