.PurchaseConfirmed {
  height: 100vh;
  background-color: white; /* Black w/ opacity */
  color: black;
  overflow-y: scroll;
}

.Message {
  margin-top: 7%;
  text-align: center;
}

.OrdAndSumContainer{
  display: flex;
  align-items: top;
  padding: 5%;
}
.OrdAndSumContainer > div {
  flex: 1 1 50%;
}
.OrdAndSumContainer >div:nth-child(2){
  margin-top: 3%;
}

@media(max-width: 500px) {
  .PurchaseConfirmed{
  }
}