.OrderDetails {
  text-align: left;
}
.OrderDetails h1{
  margin-bottom: 3vw;
}
.UserInfo p{
  margin-bottom: 2vw;
}

@media (max-width: 500px) {
  .OrderDetails h1{
    font-size: small;
  }
  .UserInfo {
    font-size: smaller;
  }
}