.listDiv {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  padding-left: 10px;
}

.img {
  width: 20%;
}
.mapDiv {
  border: 2px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
