.AddSubRemoveButtons {
  color: rgb(220, 181, 72);
  border-color: rgb(36, 40, 41);
  border-width: 5px;
  border-style: double;
  background-color: rgb(36, 40, 41);
  margin: 2px 2px 2px 2px;
  font-weight: bold;
  cursor: pointer;
}

.productImage {
  width: 80px;
  height: 80px;
}

.buttonsDiv {
  list-style: none;
  margin: 2px 2px 2px 2px;
  display: flex;
  flex-flow: row;
  font-weight: 100;
}

.dataDiv {
  list-style: none;
  margin: 2px 2px 2px 2px;
  display: flex;
  flex-flow: column;
  font-weight: 100;
}

.infoDiv {
  list-style: none;
  margin: 2px 2px 2px 2px;
  display: flex;
  flex-flow: row;
  font-weight: 100;
}