.Message {
  top: 35%;
  left: 30%;
  width: 40%;
  height: 40%;
  background-color: rgb(61, 61, 61);
  color: white;
  position: absolute;
  text-align: center;
  z-index: 5;
  box-shadow: 0px 2px 5px 2px black;
  border-radius: 10px;
  transition: 0.5 ease-out;
}
.HideMessage {
  top: -100%;
  left: 30%;
  width: 40%;
  height: 40%;
  background-color: rgb(102, 101, 101);
  color: white;
  position: absolute;
  text-align: center;
  z-index: 5;
  box-shadow: 0 3px 10px 2px black;
  border-radius: 10px;
}
.Icon {
  margin-top: 10%;
  font-size: 50px;
}

.Message p, .Message div{
  padding: 15px;
}

@media (max-width: 1024px){
  .Icon {
    margin-top: 15%;
  }
}

@media (max-width: 768px){
  .Message p{
    font-size: 14px;
  }
  .Icon {
    margin-top: 12%;
    font-size: 40px;
  }
}

@media (max-width: 500px){
  .Message{
    left: 15%;
    width: 70%;
    height: 30%;
  }
  .Message p{
    font-size: 14px;
  }
  .Icon{
    font-size: 35px;
  }
  .Message p, .Message div{
    padding: 7px;
  }
}
