.showMoreButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  animation: fade 0.6s ease-in;

}
.showMoreButton button {
  color: black;
  border: none;
  width: 40%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}