.TToolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.TToolbar nav {
  height: 100%;
}

.TLogo {
  height: 80%;
}
.TCart-div {
    position: relative;
    width: 19px;
}
.TCart-div p{
    font-size: 7px;
    top: 0;
    right: 0;
    position: absolute;
    color: white;
}
.TCart {
  cursor: pointer;
  color: white;
  z-index: 1;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
