.Toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  transition: 0.5s ease;
}
.Toolbarhidden {
  top: -100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  opacity: 0.5;
}
.LogoAndNav {
  display: flex;
  align-items: center;
}
.LogoName {
  width: 15%;
  margin-right: 5%;
}
.Cartdiv {
  display: flex;
  align-items: center;
  height: 100%;
  width: 15%;
}
.Cartdiv span {
  text-align: center;
  background-color: grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 7px;
  color: white;
}
.Cart {
  cursor: pointer;
  color: white;
  z-index: 1;
  transition: 0.3s ease-in;
}
.Cart:hover {
  color: rgb(220, 181, 72);
}
@media (max-width: 768px) {
  .NavigationItems {
    display: none;
  }
  .Cartdiv {
    margin-right: 5%;
  }
  .Cart {
    margin-right: 15%;
  }
  .LogoName {
    display: none;
  }
}
