.Toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  transition: 0.5s ease;
}
.Toolbarhidden {
  top: -100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  opacity: 0.5;
}
.LogoAndNav {
  display: flex;
  align-items: center;
}
.LogoName {
  margin-right: 11%;
  width: 12%;
}
.Cartdiv {
  display: flex;
  position: relative;
  height: 100%;
  width: 5%;
}
.Cartdiv span {
  top: 0%;
  left: 25%;
  position: absolute;
  text-align: center;
  background-color: grey;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 8px;
  color: white;
}
.Cart {
  cursor: pointer;
  color: white;
  font-size: 24px;
  z-index: 1;
  transition: 0.3s ease-in;
}
.Cart:hover {
  color: rgb(220, 181, 72);
}
@media screen and (max-width: 1024px) {
  .LogoName {
    margin-right: 15%;
  }
  .Cartdiv span {
    left: 30%;
  }
}
@media screen and (max-width: 768px) {
  .NavigationItems {
    display: none;
  }
  .Cartdiv {
    margin-right: 1%;
    width: 10%;
  }
  .Cartdiv span {
    left: 20%;
    text-align: center;
    width: 12px;
    height: 11px;
    font-size: 9px;
    color: white;
  }
  .Cart {
    font-size: 20px;
    margin-right: 15%;
  }
  .LogoName {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .Cartdiv {
    margin-right: 1%;
    width: 20%;
  }
  .Cart {
    font-size: 20px;
    margin-right: 15%;
  }
  .Cartdiv span {
    left: 22%;
    width: 10px;
    height: 10px;
    font-size: 8px;
  }
}
@media screen and (max-width: 376px) {
  .Cartdiv {
    margin-right: 2%;
    width: 20%;
  }
  .Cart {
    font-size: 20px;
    margin-right: 10%;
  }
  .Cartdiv span {
    left: 20%;
    width: 10px;
    height: 10px;
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  .Cart {
    font-size: 20px;
    margin-right: 10%;
  }
  .Cartdiv span {
    left: 22%;
    width: 10px;
    height: 10px;
    font-size: 8px;
  }
}
