.TToolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  transition: 2s;
}
.Toolbar-hidden{
  top: -57px;
  opacity: 0.5;
}

.TToolbar nav {
  height: 100%;
}

.TLogo {
  height: 80%;
}
.TCart-div {
  width: 20px;
  position: absolute;
  bottom: 30%;
}
.TCart-div p {
  font-size: 8px;
  color: white;
}
.TCart {
  cursor: pointer;
  color: white;
  z-index: 1;
  transition: 0.3s ease-in;
}
.TCart:hover {
  color: rgb(220, 181, 72);
}
.TSearchBar {
  margin: 2px 2px 2px 2px;
}
.TSearchIcon {
  color: white;
}
.TSearchIcon:hover {
  color: rgb(220, 181, 72);
}
@media (max-width: 500px) {
  .DesktopOnly {
    display: none;
  }
  .TSearchBar {
    position: absolute;
    right: 15%;
  }
  .TSearchBar input {
    width: 140px;
  }
  .TCart-div {
    position: absolute;
    left: 90%;
  }
}
@media (min-width: 500px) {
  .TSearchBar {
    position: absolute;
    left: 90%;
  }
  .TCart-div {
    position: absolute;
    left: 95%;
  }
  .TSearchBar input {
    position: absolute;
    right: 120%;
    top: 10%;
  }
}
