.perfume {
  color: white;
  text-align: center;
  transition-property: border;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
  padding: 10px 10px 10px 10px;
}
.perfume img {
  width: 100%;
  height: 100%;
}
.perfume:hover img {
  width: 102%;
  height: 102%;
  transition: width 0.2s;
  cursor: pointer;
}

.perfume button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-color: black;
  border-width: 5px;
  border-style: double;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
}
.perfume button:hover {
  color: rgb(220, 181, 72);
}
@media (max-width: 400px) {
  .perfume button {
    color: rgb(220, 181, 72);
  }
}
