.SlideButtons {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-size: larger;
  border: none;
  outline: none;
  opacity: 0.2;
}
.SlideButtons:hover {
  opacity: 1;
}
.SlideButtons:active {
  color: rgb(220, 181, 72);
}
