.ShowAddedItem {
  top: 12%;
  right: 3%;
  width: 200px;
  height: 200px;
  background-color: white;
  color: black;
  position: fixed;
  text-align: center;
  z-index: 2;
  box-shadow: 0 3px 10px 2px black;
  transition: 0.5 ease-out;
  animation: showUp 1s ease-out;
  border-radius: 5px;
}
.ShowAddedItem img{
  width: 50%;
  height: 50%;
}

@keyframes showUp {
  0% {
    opacity: 0;
    right: 0%;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    right: 3%;
    transform: scale(1);
  }
}
@media screen and (max-width: 1024px) {
  .ShowAddedItem {
    margin-top: 2%;
  }
}

@media screen and (max-width: 768px) {
  .ShowAddedItem {
    margin-top: 5%;
    top: 10%;
    right: 3%;
    width: 150px;
    height: 150px;
  }
  .ShowAddedItem h4{
    font-size: 14px;
  }
  .ShowAddedItem img{
    width: 40%;
    height: 40%;
  }
  .ShowAddedItem p{
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .ShowAddedItem {
    margin-top: 10%;
  }
}