.Footer {
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(220, 181, 72);
  padding: 2%;
  clear: both;
  margin-top: auto;
}
.FooterInfo {
  list-style: none;
}
.CopyRight {
  flex: auto;
  text-align: center;
  margin-left: 10%;
}
.Link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .CopyRight {
    margin-left: 15%;
  }
  .FooterInfo li,
  .CopyRight p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .FooterInfo li,
  .CopyRight p {
    font-size: 10px;
  }
}
.Link {
  color: rgb(220, 181, 72);
  text-decoration: none;
}
