.Footer {
    margin: 0px;
    position: flex;
    height: 125px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: rgb(220, 181, 72);
    }
    .MainText {
        margin: 0px;
        text-align: center;
        padding-top: 25px;
    }
    .FooterList {
        margin: 0px;
        list-style: none;
        text-align: right;
        padding-bottom: 20px;
        padding-right: 250px;
    }