.Footer {
  position: relative;
  width: 100%;
  margin-top: -70px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(220, 181, 72);
  background-color: red;
  clear: both;
}
.CopyRight {
  flex: auto;
  text-align: center;
}
