.OrderSummary {
    text-align: left;
    margin-top: 8vw;
    margin-left: 8vw;
    padding-bottom: 8vw;
  }
  
 
  
  .ProductInformation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }