.MainDiv {
  color: white;
  padding-top: 7%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.Paragraph {
  text-align: left;
}

@media (max-width: 550px) {
  .MainDiv {
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .MainDiv {
    padding-left: 15%;
    padding-right: 15%;
  }
}
