.MainDiv {
  margin-top: 10vh;
  color: white;
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 75vh; 

}
.Paragraph {
  text-align: left;
}
.Header {
  color: goldenrod;
}
.ArrowDiv {
  display: flex;
  align-items: left;
  text-align: left;
  color: goldenrod;
  cursor: pointer;
  border: none;
  width: 100%;
  margin-bottom: 2%;
}
.ArrowDiv > div{
  margin-left: 2%;
}


@media (max-width: 700px) {
  .MainDiv {
    padding-top: 8vh;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 90%;
    height: 80vh; 

  }
}
@media (max-width: 500px) {
  .MainDiv {
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 80%;
  }
  .Paragraph {
    text-align: center;
  }
}
