.MainDiv {
  margin-top: 5vw;
  color: white;
  padding-top: 7%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.Paragraph {
  text-align: left;
}

@media (max-width: 768px) {
  .TextBundleDiv {
    height: fit-content;
  }
  .MainDiv {
    margin-top: 10vh;
  }
}