.Options {
  width: 60%;
  padding: 2%;
}
.ProductView {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  padding: 10%;
}
.ProductView > div {
  padding: 10%;
}
.ProductView img {
  width: 40%;
}

@media (max-width: 769px) {
  .ProductView {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  .ProductView img {
    width: 50%;
    height: 50%;
  }
}
