.CartItem {
  padding: 5%;
  border-bottom: 1px solid rgb(85, 64, 10);
  width: 100%;
}
.InnerCartItemContainer {
  display: flex;
  align-items: center;
}
.InnerContainer {
  text-align: left;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.InnerContainer p{
  font-size: 1rem;
  padding: 2%;
}
.InnerItem {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.InnerItem p {
  font-size: 1rem;
  color: black;
}
.InnerItem button, .InnerContainer p {
  font-size: 1rem;
  margin: 0px 5% 0px 0px;
  outline: none;
  border: none;
  background: none;
  color: black;
}

.InnerItem button:hover {
  color: gray;
  border-bottom: 0.5px solid goldenrod;
}

@media (max-width: 500px) {
  .InnerContainer p{
    font-size: 0.6rem;
    padding: 2% 0px;
  }
  .InnerItem button, .InnerItem p{
    font-size: 0.6rem;
    margin: 0px 5% 0px 0px;
  }
}